<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="tests">
	<test thread-count="1" name="Chrome Test" parallel="true">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="Selenium4ParallelDemo" />
		</classes>
	</test> <!-- Test -->

	<test thread-count="1" name="Firefox Test" parallel="true">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="Selenium4ParallelDemo" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->